name: Python code quality check

on:
- push
- pull_request

jobs:

  flake8-actinia:

    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.8
    - name: Install
      run: |
        python -m pip install --upgrade pip
        pip install flake8==3.8.0
    - name: Run Flake8
      run: |
        flake8 --config=.flake8 --count --statistics --show-source --jobs=$(nproc) .
